NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=practice_stock

KIS_BASE_URL=https://openapivts.koreainvestment.com:9443
KIS_APP_KEY=
KIS_APP_SECRET=

GROQ_API_KEY=

LLM_API_KEY=

CORS_ORIGIN=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=

BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173
